:root {
  --swiper-navigation-color: #d6a269;
  --swiper-theme-color: #000;
  --swiper-navigation-sides-offset: 2%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.swiper {
  width: 200px;
  margin: 0;

  @media (min-width: 768px) {
    width: 450px;
    }
}


  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }