:root {
  --swiper-navigation-color: #d6a269;
  --swiper-theme-color: #000;
  --swiper-navigation-sides-offset: 2%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper {
  margin: 0 ;
  width: 250px;
  height: 250px;
  
  @media (min-width: 768px) {
    margin: 0px auto;
    width: 500px;
    height: 500px;

  }
}


  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }